parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_array\(\) with list will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Chronicler/GcSweeper.php

		-
			message: '#^Method StarDust\\Filter\\Json\\JsonFilterDecoder\:\:isAssocArray\(\) has parameter \$value with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Filter/Json/JsonFilterDecoder.php

		-
			message: '#^Call to function is_string\(\) with string will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 2
			path: src/Page/PageProvisioner.php

		-
			message: '#^Parameter \#1 \$array \(list\<string\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/Page/PageProvisioner.php

		-
			message: '#^Parameter \#1 \$array \(list\<string\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 2
			path: src/Read/BoundedFetch.php

		-
			message: '#^Parameter \#1 \$array \(list\<string\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/Read/ResultAssembler.php

		-
			message: '#^Offset ''fields'' on array\{tenant_id\: int, model_id\: int, fields\: array\<string, mixed\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Reconciler/ImportJobWorkSource.php

		-
			message: '#^Parameter \#1 \$array \(list\<StarDust\\Reconciler\\ReconcilerWorkSource\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/Reconciler/Reconciler.php
